<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>


    
    <!-- 标题信息 -->
  	<bean name="managerAction" class="com.intelligence.manager.action.managerAction" scope="prototype">
       <property name="managerService"><ref bean="managerService" /></property>
    </bean>
   <bean id="managerService" class="com.intelligence.manager.service.managerServiceImp" scope="prototype">
    <property name="managerDao" ref="managerDao"></property>
</bean>
    <bean id="managerDao" class="com.intelligence.manager.dao.managerDao">
         <property name="jdbcTemplate"><ref bean="SpringJdbcTemplate"/></property>      
    </bean>
    
    
    <!-- show信息 -->
    <bean name="showDAO" class="com.intelligence.view.dao.ShowDAO">
    	<property name="jdbcTemplate"><ref bean="SpringJdbcTemplate"></ref></property>
    </bean>
    <bean name="showService" class="com.intelligence.view.service.ShowServiceImp">
    	<property name="showDAO" ref="showDAO"></property>
    </bean>
    <bean name="showAction" class="com.intelligence.view.action.ShowAction">
    	<property name="showService" ref="showService"></property>
    	
    </bean>
    
</beans>
