<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <!-- show信息 -->
    <bean name="showDAO" class="com.intelligence.view.dao.ShowDAO">
    	<property name="jdbcTemplate"><ref bean="SpringJdbcTemplate"></ref></property>
    </bean>
    <bean name="showService" class="com.intelligence.view.service.ShowServiceImp">
    	<property name="showDAO" ref="showDAO"></property>
    </bean>
    <bean name="showAction" class="com.intelligence.view.action.ShowAction">
    	<property name="showService" ref="showService"></property>
    	
    </bean>
     <!-- 管理信息 -->
  	<bean name="managerAction" class="com.intelligence.manager.action.ManagerAction" scope="prototype">
       <property name="showService" ref="showService"></property>
    </bean>
</beans>
